<div class="tab-content">
  <div class="tab-pane">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="text-center mb-3">
        <p>Registrate</p>
      </div>

      <!-- Username input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="registerUsername">Username</label>
        <input formControlName="name" type="text" id="registerUsername" class="form-control" />
      </div>

      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="registerEmail">Email</label>
        <input formControlName="email" type="email" id="registerEmail" class="form-control" />
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="registerPassword">Password</label>
        <input formControlName="password" type="password" id="registerPassword" class="form-control" />
      </div>

      <!-- Submit button -->
      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary mb-3 w-100">Crear Cuenta</button>

      <div class="text-center">
        <p>¿Ya tienes una cuenta? <a routerLink="/login">Inicia Sesión</a></p>
      </div>
    </form>
  </div>
</div>
