<!-- Pills content -->
<div class="tab-content">
  <div class="tab-pane" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="text-center mb-3">
        <p>Iniciar Sesión</p>
      </div>

      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="loginName">Email</label>
        <input formControlName="email" type="email" id="loginName" class="form-control" />
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="loginPassword">Password</label>
        <input formControlName="password" type="password" id="loginPassword" class="form-control" />
      </div>

      <!-- Submit button -->
      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary w-100 mb-4">Sign in</button>

      @if (error) {
        <p style="color:red">{{ error }}</p>
      }

      <!-- Register buttons -->
      <div class="text-center">
        <p>¿No tienes una cuenta? <a routerLink="/register">Registrate</a></p>
      </div>
    </form>
  </div>
</div>
